<section class="px-16 py-14 bg-projector-primary-600">
  <div class="flex flex-col md:flex-row gap-16 md:items-stretch">
    <div class="flex flex-col flex-1 items-center">
      <h2 class="text-3xl font-semibold uppercase text-white self-start">See It In Action</h2>
      {{ if description }}
        <div class="text-white/90 text-sm leading-relaxed mt-12 prose prose-sm prose-invert">{{ description | markdown }}</div>
      {{ /if }}
      <a href="https://calendly.com/jeffakaufman/projector-demo" target="_blank" class="hidden md:inline-block mt-12 rounded-2xl bg-black px-10 py-3 text-base font-normal uppercase text-white hover:bg-zinc-800 transition-colors">Request a Demo</a>
    </div>
    <div class="shrink-0 ml-auto">
      <img src="{{ if image }}{{ image:url }}{{ else }}/assets/demo-screenshot.png{{ /if }}" alt="" class="rounded-2xl w-[700px] max-w-full h-auto shadow-sm">
    </div>
  </div>
  <a href="https://calendly.com/jeffakaufman/projector-demo" target="_blank" class="md:hidden mt-14 block mx-auto w-fit rounded-2xl bg-black px-10 py-3 text-base font-normal uppercase text-white hover:bg-zinc-800 transition-colors">Request a Demo</a>
</section>
